anaconda-navigator==2.6.3
pyobjc-framework-MetalKit==11.0
pyobjc-framework-LocalAuthentication==11.0
shellingham==1.5.4
pyobjc-framework-FileProvider==11.0
pkce==1.0.3
w3lib==2.1.2
pyasn1==0.4.8
soundfile==0.12.1
audioread==3.1.0
multidict==6.0.4
async-lru==2.0.4
h5py==3.11.0
python-slugify==5.0.2
rapidocr-onnxruntime==1.3.24
black==24.8.0
ply==3.11
MouseInfo==0.1.3
coloredlogs==15.0.1
redis==5.2.1
ftfy==6.2.3
humanfriendly==10.0
pydantic_core==2.23.4
rfc3339-validator==0.1.4
pyobjc-framework-NetworkExtension==11.0
appnope==0.1.3
emoji==2.14.1
trio==0.29.0
executing==0.8.3
panel==1.5.2
docstring-to-markdown==0.11
pyobjc-framework-SafariServices==11.0
aiocache==0.12.3
text-unidecode==1.3
pandas==2.2.3
tornado==6.4.1
lazy_loader==0.4
matplotlib==3.9.2
grpcio==1.67.1
PyScreeze==1.0.1
nbconvert==7.16.4
pyobjc-framework-Symbols==11.0
pyobjc-framework-DictionaryServices==11.0
tldextract==5.1.2
decorator==5.1.1
pyobjc-framework-CoreLocation==11.0
mss==10.0.0
Sphinx==7.3.7
async-timeout==5.0.1
mmh3==5.1.0
pypdf==4.3.1
conda-package-handling==2.3.0
pyobjc-framework-SystemExtensions==11.0
lckr_jupyterlab_variableinspector==3.1.0
h2==4.1.0
traitlets==5.14.3
hvplot==0.11.0
zstandard==0.23.0
openai==1.60.1
pydub==0.25.1
mdit-py-plugins==0.3.0
nest-asyncio==1.6.0
Deprecated==1.2.17
Markdown==3.7
ujson==5.10.0
jaraco.classes==3.2.1
trampoline==0.1.2
pyobjc-framework-MapKit==11.0
fpdf2==2.8.2
pyobjc-framework-AppleScriptObjC==11.0
rank-bm25==0.2.2
pyodbc==5.1.0
multipledispatch==0.6.0
pyobjc-framework-CFNetwork==11.0
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
ptyprocess==0.7.0
outcome==1.3.0.post0
torch==2.7.0
langchain-community==0.3.7
olefile==0.47
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
trio-websocket==0.12.2
PyYAML==6.0.1
pyobjc-framework-AdServices==11.0
pyobjc-framework-Network==11.0
nltk==3.9.1
pyobjc-framework-WebKit==11.0
pyobjc==11.0
lime==0.2.0.1
pyobjc-framework-DVDPlayback==11.0
queuelib==1.6.2
unicodedata2==15.1.0
pyobjc-framework-AppTrackingTransparency==11.0
docx2txt==0.8
lxml==5.3.0
gensim==4.3.3
tinycss2==1.2.1
scipy==1.13.1
jupyterlab==4.2.5
scikit-learn==1.5.1
SQLAlchemy==2.0.32
simple-websocket==1.1.0
GitPython==3.1.43
notebook==7.2.2
toml==0.10.2
pyobjc-framework-AVRouting==11.0
pyobjc-framework-Automator==11.0
filelock==3.13.1
fake-useragent==1.5.1
colbert-ai==0.2.21
ruamel.yaml.clib==0.2.8
pyobjc-framework-ModelIO==11.0
pynput==1.8.1
urllib3==2.2.3
ecdsa==0.19.0
cookiecutter==2.6.0
pyobjc-framework-SceneKit==11.0
psycopg2-binary==2.9.9
webencodings==0.5.1
pyobjc-framework-Security==11.0
colorama==0.4.6
soxr==1.0.0
pyobjc-framework-CloudKit==11.0
pyobjc-framework-GameplayKit==11.0
tokenizers==0.21.0
PyDispatcher==2.0.5
pyobjc-framework-SecurityFoundation==11.0
python-lsp-jsonrpc==1.1.2
PyMsgBox==1.0.9
pyobjc-framework-MetricKit==11.0
smart-open==5.2.1
numpydoc==1.7.0
pyobjc-framework-CoreSpotlight==11.0
intervaltree==3.1.0
fs==2.4.16
typer==0.15.1
lark==1.1.9
yt-dlp-ejs==0.3.1
Pygments==2.15.1
astunparse==1.6.3
pathspec==0.10.3
rich-toolkit==0.13.2
itemadapter==0.3.0
contourpy==1.2.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-MediaAccessibility==11.0
PyWavelets==1.7.0
python-json-logger==2.0.7
pyobjc-framework-CoreHaptics==11.0
jupyter_server_terminals==0.4.4
autopep8==2.0.4
tomlkit==0.11.1
osmnx==2.0.2
opt_einsum==3.4.0
astropy==6.1.3
defusedxml==0.7.1
pyobjc-framework-ScriptingBridge==11.0
google-generativeai==0.7.2
python-magic==0.4.27
slicer==0.0.8
stack-data==0.2.0
huggingface-hub==0.26.5
python-oxmsg==0.0.1
XlsxWriter==3.2.1
google-pasta==0.2.0
mypy==1.11.2
requests==2.32.3
xlwings==0.32.1
datashader==0.16.3
semver==3.0.2
pyobjc-framework-IOBluetooth==11.0
pyobjc-framework-QuickLookThumbnailing==11.0
spyder-kernels==2.5.0
pyobjc-framework-SharedWithYouCore==11.0
openpyxl==3.1.5
pickleshare==0.7.5
pyobjc-framework-Carbon==11.0
cloudpickle==3.0.0
Jinja2==3.1.4
dnspython==2.7.0
termcolor==3.0.1
httpx-sse==0.4.0
pyobjc-framework-Virtualization==11.0
Rtree==1.0.1
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-EventKit==11.0
rpds-py==0.10.6
shapely==2.0.6
pytoolconfig==1.2.6
langchain-text-splitters==0.3.5
inflection==0.5.1
locket==1.0.0
pyobjc-framework-ServiceManagement==11.0
libmambapy==1.5.8
py-partiql-parser==0.6.1
msgpack==1.0.3
pyobjc-framework-LaunchServices==11.0
bleach==4.1.0
xmltodict==0.14.2
blinker==1.9.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ScreenSaver==11.0
conda-pack==0.7.1
ninja==1.11.1.3
google-api-core==2.24.0
tqdm==4.66.5
parso==0.8.3
pytest==8.3.4
safetensors==0.4.5
pyobjc-framework-CryptoTokenKit==11.0
pyobjc-framework-Accessibility==11.0
six==1.16.0
responses==0.25.6
seaborn==0.13.2
frozendict==2.4.2
mypy-extensions==1.0.0
pyobjc-framework-ExtensionKit==11.0
h11==0.14.0
plotly==5.24.1
wheel==0.44.0
gitdb==4.0.7
aiohappyeyeballs==2.4.0
pyasn1-modules==0.2.8
anthropic==0.45.0
kiwisolver==1.4.4
pyobjc-framework-MediaLibrary==11.0
ipython==8.27.0
greenlet==3.0.1
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-AppleScriptKit==11.0
jupyter-console==6.6.3
pyobjc-framework-PencilKit==11.0
QtPy==2.4.1
joblib==1.4.2
hyperlink==21.0.0
dask==2024.8.2
pyobjc-framework-Cinematic==11.0
pyobjc-framework-CalendarStore==11.0
typing-inspect==0.9.0
pyobjc-framework-BrowserEngineKit==11.0
zict==3.0.0
pyobjc-framework-CoreML==11.0
tensorflow==2.17.0
git-python==1.0.3
anaconda-client==1.12.3
Unidecode==1.3.8
pcodedmp==1.2.6
colorclass==2.2.2
asttokens==2.0.5
isort==5.13.2
overrides==7.4.0
pkginfo==1.10.0
itsdangerous==2.2.0
ruamel-yaml-conda==0.17.21
pytz==2024.1
annotated-types==0.6.0
httpcore==1.0.2
pymdown-extensions==10.11.2
PySocks==1.7.1
gast==0.6.0
rich==13.7.1
pyobjc-framework-ExecutionPolicy==11.0
s3fs==2024.6.1
pyobjc-framework-OpenDirectory==11.0
Babel==2.11.0
pyobjc-framework-PassKit==11.0
pyobjc-framework-libxpc==11.0
pyobjc-framework-Metal==11.0
google-resumable-media==2.7.2
kubernetes==32.0.0
dmglib==0.9.5
psutil==5.9.0
uritemplate==4.1.1
fsspec==2024.6.1
google-auth-httplib2==0.2.0
ml-dtypes==0.4.1
future==1.0.0
Mako==1.3.8
posthog==3.10.0
pytweening==1.2.0
rubicon-objc==0.5.0
pyobjc-framework-DiscRecording==11.0
chroma-hnswlib==0.7.6
pyobjc-framework-PreferencePanes==11.0
pyct==0.5.0
jupyter-events==0.10.0
jsonpatch==1.33
pydantic==2.9.2
pyobjc-framework-CoreText==11.0
partd==1.4.1
pyobjc-framework-Vision==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-MetalFX==11.0
tifffile==2023.4.12
anaconda-project==0.11.1
fonttools==4.51.0
numpy==1.26.4
msoffcrypto-tool==5.4.2
anaconda-anon-usage==0.4.4
mutagen==1.47.0
pyobjc-framework-NotificationCenter==11.0
pyobjc-framework-IOBluetoothUI==11.0
pyobjc-framework-PushKit==11.0
applaunchservices==0.3.0
shap==0.48.0
tzdata==2023.3
jupyter-lsp==2.2.0
numba==0.60.0
PyQt5==5.15.10
serial==0.0.97
param==2.1.1
sip==6.7.12
wurlitzer==3.0.2
pyls-spyder==0.4.0
packaging==23.2
markdown-it-py==2.2.0
lazy-object-proxy==1.10.0
pyviz_comms==3.0.2
peewee-migrate==1.12.2
ruamel.yaml==0.18.6
debugpy==1.6.7
python-iso639==2024.10.22
pyobjc-framework-MediaToolbox==11.0
kornia_rs==0.1.7
jellyfish==1.0.1
jupyterlab-widgets==1.0.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreMotion==11.0
cffi==1.17.1
pyobjc-framework-GameController==11.0
pycodestyle==2.11.1
intake==2.0.7
RTFDE==0.1.2
PyGetWindow==0.0.9
jsonschema==4.23.0
linkify-it-py==2.0.0
google-crc32c==1.6.0
qtconsole==5.5.1
sphinxcontrib-applehelp==1.0.2
pyparsing==3.1.2
pyobjc-framework-SharedWithYou==11.0
tensorflow-metal==1.2.0
widgetsnbextension==3.6.6
pyobjc-framework-CoreServices==11.0
primp==0.10.1
pyobjc-framework-ExceptionHandling==11.0
platformdirs==3.10.0
nbformat==5.10.4
python-lsp-black==2.0.0
aioitertools==0.7.1
arrow==1.2.3
opentelemetry-exporter-otlp-proto-common==1.27.0
pyperclip==1.9.0
librosa==0.11.0
pylint-venv==3.0.3
propcache==0.2.1
comm==0.2.1
grpcio-status==1.62.3
pyobjc-framework-KernelManagement==11.0
spandrel==0.4.0
imageio==2.33.1
argon2-cffi==23.1.0
appdirs==1.4.4
s3transfer==0.10.4
alabaster==0.7.16
python-engineio==4.11.2
portalocker==2.10.1
youtube-transcript-api==0.6.3
pyobjc-framework-PhotosUI==11.0
timm==1.0.15
sympy==1.14.0
pyobjc-framework-VideoToolbox==11.0
PyJWT==2.10.1
asgiref==3.8.1
threadpoolctl==3.5.0
watchdog==4.0.1
pyobjc-framework-IOSurface==11.0
Events==0.5
wrapt==1.14.1
dataclasses-json==0.6.7
atomicwrites==1.4.0
oauthlib==3.2.2
pyobjc-framework-SystemConfiguration==11.0
grpcio-tools==1.62.3
pyobjc-framework-DiscRecordingUI==11.0
multiprocess==0.70.16
protobuf==4.25.3
sphinxcontrib-jsmath==1.0.1
websockets==14.2
sentence-transformers==3.3.1
pyobjc-framework-UserNotificationsUI==11.0
pycparser==2.21
keras==3.9.2
pyobjc-framework-IntentsUI==11.0
constantly==23.10.4
Werkzeug==3.1.3
langdetect==1.0.9
frozenlist==1.4.0
red-black-tree-mod==1.20
diff-match-patch==20200713
google-api-python-client==2.159.0
pyobjc-framework-MultipeerConnectivity==11.0
passlib==1.7.4
wandb==0.22.3
jedi==0.19.1
PyQtWebEngine==5.15.6
aiofiles==24.1.0
pgvector==0.3.5
jupyter_core==5.7.2
pure-eval==0.2.2
python-dotenv==1.0.1
xxhash==3.5.0
milvus-lite==2.4.11
truststore==0.8.0
conda-content-trust==0.2.0
opentelemetry-instrumentation==0.48b0
pycurl==7.45.3
jmespath==1.0.1
aiobotocore==2.12.3
pyobjc-framework-CoreData==11.0
pyobjc-framework-SafetyKit==11.0
parsel==1.8.1
open-webui==0.5.7
lz4==4.3.2
bidict==0.23.1
googleapis-common-protos==1.63.2
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
bokeh==3.6.0
conda-build==24.9.0
pyobjc-framework-LatentSemanticMapping==11.0
chardet==4.0.0
easygui==0.98.3
pyobjc-framework-ScreenTime==11.0
uvicorn==0.30.6
pyobjc-framework-MetalPerformanceShaders==11.0
python-jose==3.3.0
anyio==4.8.0
python-lsp-server==1.10.0
rope==1.12.0
pyobjc-framework-MLCompute==11.0
itemloaders==1.1.0
pyobjc-framework-ShazamKit==11.0
bcrypt==4.2.0
holoviews==1.19.1
colorcet==3.1.0
Flask-Cors==5.0.0
tblib==1.7.0
iniconfig==1.1.1
matplotlib-inline==0.1.6
pylint==2.16.2
fastjsonschema==2.16.2
pyobjc-framework-ApplicationServices==11.0
requests-file==1.5.1
faster-whisper==1.0.3
notebook_shim==0.2.3
google-cloud-storage==2.19.0
pyobjc-framework-OSLog==11.0
ebcdic==1.1.1
terminado==0.17.1
fastapi-cli==0.0.7
pyobjc-framework-Social==11.0
tenacity==8.2.3
statsmodels==0.14.2
einops==0.8.0
pyobjc-framework-SpriteKit==11.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython-genutils==0.2.0
jupyter_client==8.6.0
altair==5.0.1
pyobjc-framework-CoreMediaIO==11.0
duckduckgo_search==7.2.1
jupyter_server==2.14.1
build==1.2.2.post1
flatbuffers==25.1.24
pyobjc-framework-FSEvents==11.0
iso8601==2.1.0
ipywidgets==7.8.1
xyzservices==2022.9.0
yarl==1.18.3
mccabe==0.7.0
sortedcontainers==2.4.0
unstructured-client==0.28.1
cssselect==1.2.0
geopandas==1.0.1
pyobjc-framework-SensitiveContentAnalysis==11.0
rsa==4.9
pyobjc-framework-MediaExtension==11.0
wcwidth==0.2.13
sphinxcontrib-htmlhelp==2.0.0
pyobjc-framework-SyncServices==11.0
langfuse==2.44.0
selenium==4.29.0
pyobjc-framework-Collaboration==11.0
moto==5.0.27
charset-normalizer==3.3.2
pyobjc-framework-CoreAudio==11.0
Automat==20.2.0
menuinst==2.1.2
binaryornot==0.4.4
pyobjc-framework-Intents==11.0
pyproj==3.7.1
transformers==4.47.0
pyobjc-framework-ReplayKit==11.0
pyzmq==25.1.2
tzlocal==5.2
pyobjc-framework-BackgroundAssets==11.0
python-multipart==0.0.18
mistune==2.0.4
pyobjc-framework-FinderSync==11.0
Brotli==1.0.9
RapidFuzz==3.11.0
ffmpeg-python==0.2.0
jupyter==1.0.0
numexpr==2.8.7
opentelemetry-sdk==1.27.0
pyobjc-framework-FileProviderUI==11.0
opentelemetry-util-http==0.48b0
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DeviceDiscoveryExtension==11.0
pycosat==0.6.6
zipp==3.17.0
pyobjc-framework-Accounts==11.0
av==12.3.0
pyobjc-framework-CoreBluetooth==11.0
navigator-updater==0.5.1
imagesize==1.4.1
sphinxcontrib-qthelp==1.0.3
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
marshmallow==3.26.0
libclang==18.1.1
jupyterlab_server==2.27.3
pyobjc-framework-MediaPlayer==11.0
appscript==1.2.5
qstylizer==0.2.2
PyQt5-sip==12.13.0
google-auth-oauthlib==1.2.1
botocore==1.35.99
oletools==0.60.2
imageio-ffmpeg==0.6.0
compressed_rtf==1.0.6
opencv-python-headless==4.10.0.84
pyobjc-framework-CallKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
pexpect==4.8.0
starlette==0.37.2
xlrd==2.0.1
yt-dlp==2025.11.12
incremental==22.10.0
yapf==0.40.2
PyRect==0.2.0
smmap==4.0.0
imagecodecs==2023.1.23
pyobjc-framework-Photos==11.0
ipykernel==6.28.0
pip==24.2
idna==3.7
pyobjc-framework-MailKit==11.0
opencv-python==4.11.0.86
pyobjc-framework-InstantMessage==11.0
ctranslate2==4.5.0
Bottleneck==1.3.7
PyMySQL==1.1.1
pluggy==1.5.0
distributed==2024.8.2
pyobjc-framework-UniformTypeIdentifiers==11.0
pyobjc-framework-SoundAnalysis==11.0
pooch==1.8.2
streamlit==1.37.1
pyobjc-framework-AddressBook==11.0
dill==0.3.8
pyobjc-framework-BusinessChat==11.0
fastapi==0.111.0
pyobjc-framework-InputMethodKit==11.0
opentelemetry-instrumentation-fastapi==0.48b0
networkx==3.3
google-auth==2.38.0
sphinxcontrib-serializinghtml==1.1.10
pyobjc-framework-ScreenCaptureKit==11.0
pyxlsb==1.0.10
APScheduler==3.10.4
pyobjc-framework-LinkPresentation==11.0
google-cloud-core==2.4.1
cytoolz==0.12.2
astroid==2.14.2
namex==0.0.8
archspec==0.2.3
scikit-image==0.24.0
alembic==1.14.0
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
distro==1.9.0
pyobjc-framework-StoreKit==11.0
docutils==0.18.1
torchvision==0.22.0
jiter==0.8.2
langchain-core==0.3.31
pyobjc-framework-SearchKit==11.0
jsonpath-python==1.0.6
pydocstyle==6.3.0
unstructured==0.15.9
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
tables==3.10.1
pillow==10.4.0
pyobjc-framework-Speech==11.0
python-pptx==1.0.0
pyobjc-framework-ClassKit==11.0
pyerfa==2.0.1.4
rfc3986-validator==0.1.1
tomli==2.0.1
conda_index==0.5.0
onnxruntime==1.20.1
keyring==24.3.1
pyobjc-framework-iTunesLibrary==11.0
kornia==0.7.4
flake8==7.0.0
conda-repo-cli==1.0.114
pydantic-settings==2.7.1
pycryptodomex==3.23.0
pyobjc-framework-DiskArbitration==11.0
dask-expr==1.1.13
pymongo==4.10.1
jsonpointer==2.1
requests-toolbelt==1.0.0
pyobjc-framework-OSAKit==11.0
orjson==3.10.15
Twisted==23.10.0
docker==7.1.0
httptools==0.6.4
referencing==0.30.2
imbalanced-learn==0.12.3
Flask==3.1.0
conda_package_streaming==0.10.0
httpx==0.27.0
snowballstemmer==2.2.0
proto-plus==1.25.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
peewee==3.17.8
sentry-sdk==2.43.0
py-cpuinfo==9.0.0
lmdb==1.4.1
pydeck==0.8.0
typing_extensions==4.12.2
opensearch-py==2.7.1
pypandoc==1.13
pymilvus==2.5.0
sniffio==1.3.0
watchfiles==1.0.4
sentencepiece==0.2.0
Protego==0.1.16
anaconda-cloud-auth==0.5.1
pyobjc-framework-CoreAudioKit==11.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
email_validator==2.2.0
pyarrow==16.1.0
jupyterlab-pygments==0.1.2
monotonic==1.6
extract-msg==0.52.0
et-xmlfile==1.1.0
conda-libmamba-solver==24.9.0
conda-token==0.5.0+1.g2209e04
QtAwesome==1.3.1
backoff==2.2.1
whatthepatch==1.0.2
tensorboard-data-server==0.7.2
pytube==15.0.0
regex==2024.9.11
hpack==4.1.0
json5==0.9.6
Authlib==1.3.2
pyOpenSSL==24.2.1
webdriver-manager==4.0.2
pyobjc-framework-Contacts==11.0
filetype==1.2.0
opentelemetry-instrumentation-asgi==0.48b0
tensorboard==2.17.1
toolz==0.12.0
pyobjc-framework-AuthenticationServices==11.0
more-itertools==10.3.0
libarchive-c==5.1
anaconda-catalogs==0.2.0
pyobjc-core==11.0
Scrapy==2.11.1
spyder==5.5.1
tiktoken==0.8.0
pyobjc-framework-CoreWLAN==11.0
aiosignal==1.2.0
nbclient==0.8.0
pyproject_hooks==1.2.0
opentelemetry-api==1.27.0
zope.interface==5.4.0
pyobjc-framework-ColorSync==11.0
pyclipper==1.3.0.post6
prometheus-client==0.14.1
setuptools==75.1.0
beautifulsoup4==4.12.3
uvloop==0.21.0
pyobjc-framework-AVKit==11.0
HeapDict==1.0.1
pyobjc-framework-libdispatch==11.0
gcp-storage-emulator==2024.8.3
pyobjc-framework-NetFS==11.0
three-merge==0.1.1
certifi==2024.12.14
opentelemetry-proto==1.27.0
httplib2==0.22.0
google-ai-generativelanguage==0.6.6
optree==0.15.0
pyobjc-framework-AudioVideoBridging==11.0
MarkupSafe==2.1.3
aiohttp==3.11.8
wsproto==1.2.0
astropy-iers-data==0.2024.9.2.0.33.23
pyobjc-framework-VideoSubscriberAccount==11.0
patsy==0.5.6
datasets==3.2.0
opentelemetry-semantic-conventions==0.48b0
eval_type_backport==0.2.2
pyobjc-framework-GameKit==11.0
conda==24.11.3
ldap3==2.9.1
pyobjc-framework-AVFoundation==11.0
onnx==1.18.0
cryptography==43.0.0
PyPika==0.48.9
chromadb==0.6.2
pyogrio==0.10.0
hyperframe==6.1.0
langsmith==0.1.147
boltons==23.0.0
requests-oauthlib==2.0.0
pyobjc-framework-NaturalLanguage==11.0
importlib_resources==6.5.2
pyobjc-framework-ThreadNetwork==11.0
pyobjc-framework-SecurityInterface==11.0
boto3==1.35.53
uc-micro-py==1.0.1
durationpy==0.9
pyobjc-framework-AdSupport==11.0
QDarkStyle==3.2.3
validators==0.34.0
langchain==0.3.7
textdistance==4.2.1
pyflakes==3.2.0
pyobjc-framework-DataDetection==11.0
attrs==25.1.0
bitarray==3.0.0
click==8.1.7
python-socketio==5.11.3
tabulate==0.9.0
cachetools==5.3.3
importlib-metadata==7.0.1
qdrant-client==1.12.2
pyobjc-framework-InstallerPlugins==11.0
llvmlite==0.43.0
PyAutoGUI==0.9.54
absl-py==2.2.2
xarray==2023.6.0
pytest-docker==3.1.1
websocket-client==1.8.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
packaging==24.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
wheel==0.43.0
zipp==3.19.2
importlib_resources==6.4.0
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
